/env/
/.idea/
/install/key
/install/.env
/backend/vector_store/index.faiss
/backend/vector_store/index.pkl
/logs/log.txt
/backend/model/__pycache__/
/backend/utils/__pycache__/
configs/__pycache__/
nohup.out