<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodHood</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>
<body>
    <header>
        <div id="header_shop_name">
            FOODHOODCOM
        </div>
        <div id="header_settings">
            <a href="/">BACK</a>
        </div>
    </header>
    <main>
        <div class="image-background" id="berries_topic"></div>
        <div class="subpage_topics" style="position: relative; z-index: 1; margin-top: -37vh; margin-bottom: -13vh;">BERRIES</div>

        <div class="horizontal-separator"></div>
        <p></p>
        <div class="horizontal-separator"></div>

        <div class="image-wrapper">
            <div class="image-container">
                <img class="executive_products" src="../static/imgs/berries/cherries.jpg" alt="cherries">
                <div class="image-caption">Cherries</div>
                <div class="image-cost">R 259.00</div>
                <button class="wishlist-button" data-product-name="Cherries" data-product-price="259.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>

            <div class="separator"></div>

            <div class="image-container">
                <img class="executive_products" src="../static/imgs/berries/strawberries.png" alt="strawberries">
                <div class="image-caption">Strawberries</div>
                <div class="image-cost">R 279.00</div>
                <button class="wishlist-button" data-product-name="Strawberries" data-product-price="279.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>

            <div class="separator"></div>

            <div class="image-container">
                <img class="executive_products" src="../static/imgs/berries/raspberries.png" alt="raspberries">
                <div class="image-caption">Raspberries</div>
                <div class="image-cost">R 309.00</div>
                <button class="wishlist-button" data-product-name="Raspberries" data-product-price="309.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>
        </div>

        <div class="horizontal-separator"></div>

        <div class="image-wrapper">
            <div class="image-container">
                <img class="executive_products" src="../static/imgs/berries/blackberry_v2.avif" alt="blackberry">
                <div class="image-caption">Blackberry</div>
                <div class="image-cost">R 399.00</div>
                <button class="wishlist-button" data-product-name="Blackberry" data-product-price="399.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>

            <div class="separator"></div>

            <div class="image-container">
                <img class="executive_products" src="../static/imgs/berries/berriesSet.jpg" alt="berriesSet">
                <div class="image-caption">BerriesSet</div>
                <div class="image-cost">R 1001.00</div>
                <button class="wishlist-button" data-product-name="BerriesSet" data-product-price="1001.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>

            <div class="separator"></div>

            <div class="image-container">
                <img class="executive_products" src="../static/imgs/berries/bigBerriesSet.jpg" alt="BigBerriesSet">
                <div class="image-caption">BigBerriesSet</div>
                <div class="image-cost">R 1599.00</div>
                <button class="wishlist-button" data-product-name="BigBerriesSet" data-product-price="1599.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>
        </div>

        <div class="horizontal-separator"></div>

        <div class="image-wrapper">
            <div class="image-container">
                <img class="executive_products" src="../static/imgs/berries/currant.jpg" alt="Currant">
                <div class="image-caption">Currant</div>
                <div class="image-cost">R 249.00</div>
                <button class="wishlist-button" data-product-name="Currant" data-product-price="249.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>

            <div class="separator"></div>

            <div class="image-container">
                <img class="executive_products" src="../static/imgs/berries/designSet.jpg" alt="DesignSet">
                <div class="image-caption">DesignSet</div>
                <div class="image-cost">R 1899.00</div>
                <button class="wishlist-button" data-product-name="DesignSet" data-product-price="1899.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>

            <div class="separator"></div>

            <div class="image-container">
                <img class="executive_products" src="../static/imgs/berries/dragonfruit.jpg" alt="Dragonfruit">
                <div class="image-caption">Dragonfruit</div>
                <div class="image-cost">R 599.00</div>
                <button class="wishlist-button" data-product-name="Dragonfruit" data-product-price="599.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>
        </div>

        <div class="horizontal-separator"></div>

        <div class="image-wrapper">
            <div class="image-container">
                <img class="executive_products" src="../static/imgs/berries/gooseberry.jpeg" alt="Gooseberry">
                <div class="image-caption">Gooseberry</div>
                <div class="image-cost">R 149.00</div>
                <button class="wishlist-button" data-product-name="Gooseberry" data-product-price="149.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>

            <div class="separator"></div>

            <div class="image-container">
                <img class="executive_products" src="../static/imgs/berries/premiumBerriesSet.jpg" alt="PremiumBerriesSet">
                <div class="image-caption">PremiumBerriesSet</div>
                <div class="image-cost">R 2599.00</div>
                <button class="wishlist-button" data-product-name="PremiumBerriesSet" data-product-price="2599.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>

            <div class="separator"></div>

            <div class="image-container">
                <img class="executive_products" src="../static/imgs/berries/rainbowSet.jpg" alt="RainbowSet">
                <div class="image-caption">RainbowSet</div>
                <div class="image-cost">R 1199.00</div>
                <button class="wishlist-button" data-product-name="RainbowSet" data-product-price="1199.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>
        </div>

        <div class="horizontal-separator"></div>

    <div class="chat-button" id="chatButton">AI-assistant</div>
    <div class="chat-popup" id="chatPopup">
        <div class="chat-header">
            <button id="closeChat">×</button>
        </div>
        <div class="chat-content">
            <div class="chat-messages"></div>
        </div>
        <input type="text" id="message-input" placeholder="Your message..."/>
        <button hidden="hidden" id="send-button">Отправить</button>
    </div>
    </main>

</body>
</html>
