<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodHood</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>
<body>
    <header>
        <div id="header_shop_name">
            FOODHOODCOM
        </div>
        <div id="header_settings">
            <a href="/">BACK</a>
        </div>
    </header>
    <main>
        <div class="image-background" id="fruits_topic"></div>
        <div class="subpage_topics" style="position: relative; z-index: 1; margin-top: -37vh; margin-bottom: -13vh;">FRUITS</div>

        <div class="horizontal-separator"></div>
        <p></p>
        <div class="horizontal-separator"></div>

        <div class="image-wrapper">
            <div class="image-container">
                <img class="executive_products" src="../static/imgs/fruit/pomegranate.webp" alt="pomegranate">
                <div class="image-caption">Pomegranate</div>
                <div class="image-cost">R 199.00</div>
                <button class="wishlist-button" data-product-name="Pomegranate" data-product-price="199.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>

            <div class="separator"></div>

            <div class="image-container">
                <img class="executive_products" src="../static/imgs/fruit/peach.jpg" alt="peach">
                <div class="image-caption">Peach</div>
                <div class="image-cost">R 277.00</div>
                <button class="wishlist-button" data-product-name="Peach" data-product-price="277.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>

            <div class="separator"></div>

            <div class="image-container">
                <img class="executive_products" src="../static/imgs/fruit/apple.jpeg" alt="apple">
                <div class="image-caption">Apple</div>
                <div class="image-cost">R 99.00</div>
                <button class="wishlist-button" data-product-name="Apple" data-product-price="99.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>
        </div>

        <div class="horizontal-separator"></div>

        <div class="image-wrapper">
            <div class="image-container">
                <img class="executive_products" src="../static/imgs/fruit/avocado.png" alt="avocado">
                <div class="image-caption">Avocado</div>
                <div class="image-cost">R 387.00</div>
                <button class="wishlist-button" data-product-name="Avocado" data-product-price="387.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>

            <div class="separator"></div>

            <div class="image-container">
                <img class="executive_products" src="../static/imgs/fruit/citrusGinger.webp" alt="CitrusGinger">
                <div class="image-caption">Citrus&Ginger</div>
                <div class="image-cost">R 1001.00</div>
                <button class="wishlist-button" data-product-name="Citrus&Ginger" data-product-price="1001.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>

            <div class="separator"></div>

            <div class="image-container">
                <img class="executive_products" src="../static/imgs/fruit/pineapple.webp" alt="pineapple">
                <div class="image-caption">Pineapple</div>
                <div class="image-cost">R 899.00</div>
                <button class="wishlist-button" data-product-name="Pineapple" data-product-price="899.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>
        </div>

        <div class="horizontal-separator"></div>

        <div class="image-wrapper">
            <div class="image-container">
                <img class="executive_products" src="../static/imgs/fruit/orange.jpeg" alt="orange">
                <div class="image-caption">Orange</div>
                <div class="image-cost">R 123.00</div>
                <button class="wishlist-button" data-product-name="Orange" data-product-price="123.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>

            <div class="separator"></div>

            <div class="image-container">
                <img class="executive_products" src="../static/imgs/fruit/coconut_v2.jpg" alt="coconut">
                <div class="image-caption">Coconut</div>
                <div class="image-cost">R 499.00</div>
                <button class="wishlist-button" data-product-name="Coconut" data-product-price="499.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>

            <div class="separator"></div>

            <div class="image-container">
                <img class="executive_products" src="../static/imgs/fruit/lychee.jpg" alt="lychee">
                <div class="image-caption">Lychee</div>
                <div class="image-cost">R 299.00</div>
                <button class="wishlist-button" data-product-name="Lychee" data-product-price="299.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>
        </div>

        <div class="horizontal-separator"></div>

    <div class="chat-button" id="chatButton">AI-assistant</div>
    <div class="chat-popup" id="chatPopup">
        <div class="chat-header">
            <button id="closeChat">×</button>
        </div>
        <div class="chat-content">
            <div class="chat-messages"></div>
        </div>
        <input type="text" id="message-input" placeholder="Your message..."/>
        <button hidden="hidden" id="send-button">Отправить</button>
    </div>
    </main>
</body>
</html>
