<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodHood</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>
<body>
    <header>
        <div id="header_shop_name">
            FOODHOODCOM
        </div>
        <div id="footer_links">
            <a href="https://localhost">FRUIT</a>
            <a href="https://localhost">VEGETABLES</a>
            <a href="https://localhost">MEAT</a>
            <a href="https://localhost">FURNITURE</a>
            <a href="https://localhost">GROCERIES</a>
        </div>
        <div id="footer_settings">
            <a href="https://localhost">ACCOUNT</a>
            <a href="https://localhost">WISHLIST</a>
            <a href="https://localhost">SEARCH</a>
            <a href="https://localhost">BAG</a>
        </div>
    </header>
    <main>
        <div>
            <img id="main_header_img" src="../static/imgs/logo_fruit.jpeg" alt="logo_fruit ">
            <div class="overlay-text">NEW FOOD COLLECTION NOW AVAILABLE</div>
        </div>
        <div class="product-grid">
            <div class="product">
                <img class="main_products" src="../static/imgs/blackberry.jpeg" alt="blackberry">
                <div class="overlay-text">BLACKBERRY</div>
            </div>
            <div class="product">
                <img class="main_products" src="../static/imgs/coconut.jpg" alt="coconut">
                <div class="overlay-text">COCONUT</div>
            </div>
            <div class="product">
                <img class="main_products" src="../static/imgs/aroma.webp" alt="aroma">
                <div class="overlay-text">AROMA</div>
            </div>
        </div>
        <div class="topics">BERRY DELIGHT</div>
        <div class="horizontal-separator"></div>
        <div class="image-wrapper">
        <div class="image-container">
            <img class="executive_products" src="../static/imgs/pomegranate.webp" alt="pomegranate">
            <div class="image-caption">Pomegranate</div>
            <div class="image-cost">R 199.00</div>
        </div>
        <div class="separator"></div>
        <div class="image-container">
            <img class="executive_products" src="../static/imgs/peach.jpg" alt="peach">
            <div class="image-caption">Peach</div>
            <div class="image-cost">R 277.00</div>
        </div>
        <div class="separator"></div>
        <div class="image-container">
            <img class="executive_products" src="../static/imgs/cherries.jpg" alt="cherries">
            <div class="image-caption">Cherries</div>
            <div class="image-cost">R 259.00</div>
        </div>
        </div>
        <div class="horizontal-separator"></div>
        <div class="topics">MEAT DELICACIES</div>
        <div class="horizontal-separator"></div>
        <div class="image-wrapper">
            <div class="image-container">
                <img class="executive_products" src="../static/imgs/beef.avif" alt="beef">
                <div class="image-caption">Beef</div>
                <div class="image-cost">R 499.00</div>
            </div>
            <div class="separator"></div>
            <div class="image-container">
                <img class="executive_products" src="../static/imgs/pork.webp" alt="pork">
                <div class="image-caption">Pork</div>
                <div class="image-cost">R 577.00</div>
            </div>
            <div class="separator"></div>
            <div class="image-container">
                <img class="executive_products" src="../static/imgs/venison.jpg" alt="venison">
                <div class="image-caption">Venison</div>
                <div class="image-cost">R 859.00</div>
            </div>
        </div>
        <div class="horizontal-separator"></div>
        <div class="presentation-topic">
            <div id="food_presentation_topic">D.R.A
                57/40
                PROART IN FOOD</div>
            <img id="food_presentation" src="../static/imgs/fruits.avif" alt="fruits">
        </div>
        <div class="horizontal-separator"></div>
        <div class="topics">EXCLUSIVE OFFERS</div>
        <div class="horizontal-separator"></div>
        <div class="image-wrapper">
            <div class="image-container">
                <img class="executive_products" src="../static/imgs/green.webp" alt="green">
                <div class="image-caption">Green</div>
                <div class="image-cost">R 599.00</div>
            </div>
            <div class="separator"></div>
            <div class="image-container">
                <img class="executive_products" src="../static/imgs/CitrusGinger.webp" alt="Citrus & Ginger">
                <div class="image-caption">Citrus & Ginger</div>
                <div class="image-cost">R 1001.00</div>
            </div>
            <div class="separator"></div>
            <div class="image-container">
                <img class="executive_products" src="../static/imgs/seafood.jpg" alt="seafood">
                <div class="image-caption">Seafood</div>
                <div class="image-cost">R 590.00</div>
            </div>
        </div>
        <div class="horizontal-separator"></div>
        <div class="topics">FOR CONNOISSEURS</div>
        <div class="horizontal-separator"></div>
        <div class="image-wrapper">
            <div class="image-container">
                <img class="executive_products" src="../static/imgs/pineapple.webp" alt="pineapple">
                <div class="image-caption">Pineapple</div>
                <div class="image-cost">R 899.00</div>
            </div>
            <div class="separator"></div>
            <div class="image-container">
                <img class="executive_products" src="../static/imgs/strawberries.png" alt="strawberries">
                <div class="image-caption">Strawberries</div>
                <div class="image-cost">R 499.00</div>
            </div>
            <div class="separator"></div>
            <div class="image-container">
                <img class="executive_products" src="../static/imgs/raspberries.png" alt="raspberries">
                <div class="image-caption">Raspberries</div>
                <div class="image-cost">R 459.00</div>
            </div>
        </div>
        <div class="horizontal-separator"></div>
        <div class="topics" id="final_topic">OTHER</div>

        <div class="foot-wrapper">
            <div class="final-image-container">
                <img class="other_products" src="../static/imgs/orange.jpg" alt="orange">
                <div class="image-caption">Orange</div>
                <div class="short-horizontal-separator"></div>
            </div>
            <div class="final-image-container">
                <img class="other_products" src="../static/imgs/cinnamon.jpeg" alt="cinnamon">
                <div class="image-caption">Cinnamon</div>
                <div class="short-horizontal-separator"></div>
            </div>
            <div class="final-image-container">
                <img class="other_products" src="../static/imgs/nuts.jpg" alt="nuts">
                <div class="image-caption">Nuts</div>
                <div class="short-horizontal-separator"></div>
            </div>
            <div class="final-image-container">
                <img class="other_products" src="../static/imgs/avocado.png" alt="avocado">
                <div class="image-caption">Avocado</div>
                <div class="short-horizontal-separator"></div>
            </div>
        </div>
    </main>
    <div class="chat-button" id="chatButton">AI-assistant</div>
    <div class="chat-popup" id="chatPopup">
        <div class="chat-header">
            <button id="closeChat">×</button>
        </div>
        <div class="chat-content">
            <div class="chat-messages"></div>
        </div>
        <input type="text" id="message-input" placeholder="Your message..."/>
        <button hidden="hidden" id="send-button">Отправить</button>
    </div>
    <footer>
    <div class="top-row">
        <div class="links-container">
            <div class="link-column">
                <a href="https://localhost">ABOUT US</a>
                <a href="https://localhost">FAQ</a>
                <a href="https://localhost">CONTACT US</a>
            </div>
            <div class="link-column">
                <a href="https://localhost">PRIVACY POLICY</a>
                <a href="https://localhost">DELIVERY POLICY</a>
                <a href="https://localhost">TERMS OF US</a>
            </div>
            <div class="link-column">
                <a href="https://localhost">HOW TO ORDER</a>
                <a href="https://localhost">TRACK YOUR ORDER</a>
                <a href="https://localhost">RETURN & EXCHANGES</a>
            </div>
        </div>
        <div class="links-container">
            <div class="link-column">
                <a href="https://localhost">OUR TEAM</a>
                <a href="https://localhost">BLOG</a>
                <a href="https://localhost">TESTIMONIALS</a>
            </div>
            <div class="link-column">
                <a href="https://localhost">CAREERS</a>
                <a href="https://localhost">GIFT CARDS</a>
                <a href="https://localhost">AFFILIATE PROGRAM</a>
            </div>
            <div class="link-column">
                <a href="https://localhost">SITEMAP</a>
                <a href="https://localhost">MEDIA CENTER</a>
                <a href="https://localhost">EVENTS</a>
            </div>
        </div>
    </div>
  <div class="logo">FOODHOODCOM</div>
  <div class="bottom-row">
    <div class="copyright">© 2025 VladimirSC - ALL RIGHTS RESERVED</div>
    <div class="social-links">
        <a href="https://localhost">EMAIL</a>
        <a href="https://localhost">INSTAGRAM</a>
        <a href="https://localhost">VK</a>
        <a href="https://localhost">TELEGRAM</a>
    </div>
  </div>
</footer>
</body>
</html>
