<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodHood</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>
<body>
    <header>
        <div id="header_shop_name">
            FOODHOODCOM
        </div>
        <div id="header_links">
            <a href="/fruit">FRUIT</a>
            <a href="/vegetables">VEGETABLES</a>
            <a href="/meat">MEAT</a>
            <a href="/berries">BERRIES</a>
            <a href="/other">OTHER</a>
        </div>
        <div id="header_settings">
            <a href="/wishlist">WISHLIST</a>
            <a href="/search">SEARCH</a>
            <a href="/bag">BAG</a>
        </div>
    </header>
    <main>
        <div>
            <img id="main_header_img" src="../static/imgs/Logo.webp" alt="logo_fruit ">
            <div class="overlay-text">NEW FOOD COLLECTION NOW AVAILABLE</div>
        </div>
        <div class="product-grid">
            <div class="product">
                <img class="main_products" src="../static/imgs/berries/blackberry.jpg" alt="blackberry">
                <div class="overlay-text">BLACKBERRY</div>
            </div>
            <div class="product">
                <img class="main_products" src="../static/imgs/fruit/coconut.jpg" alt="coconut">
                <div class="overlay-text">COCONUT</div>
            </div>
            <div class="product">
                <img class="main_products" src="../static/imgs/other/aroma.avif" alt="aroma">
                <div class="overlay-text">AROMA</div>
            </div>
        </div>
        <div class="topics">BERRY DELIGHT</div>
        <div class="horizontal-separator"></div>
        <div class="image-wrapper">
        <div class="image-container">
            <img class="executive_products" src="../static/imgs/fruit/pomegranate.webp" alt="pomegranate">
            <div class="image-caption">Pomegranate</div>
            <div class="image-cost">R 199.00</div>
            <button class="wishlist-button" data-product-name="Pomegranate" data-product-price="199.00">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                </svg>
            </button>
        </div>
        <div class="separator"></div>
        <div class="image-container">
            <img class="executive_products" src="../static/imgs/fruit/peach.jpg" alt="peach">
            <div class="image-caption">Peach</div>
            <div class="image-cost">R 277.00</div>
            <button class="wishlist-button" data-product-name="Peach" data-product-price="277.00">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                </svg>
            </button>
        </div>
        <div class="separator"></div>
        <div class="image-container">
            <img class="executive_products" src="../static/imgs/berries/cherries.jpg" alt="cherries">
            <div class="image-caption">Cherries</div>
            <div class="image-cost">R 259.00</div>
            <button class="wishlist-button" data-product-name="Cherries" data-product-price="259.00">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                </svg>
            </button>
        </div>
        </div>
        <div class="horizontal-separator"></div>
        <div class="topics">MEAT DELICACIES</div>
        <div class="horizontal-separator"></div>
        <div class="image-wrapper">
            <div class="image-container">
                <img class="executive_products" src="../static/imgs/meet/beef.avif" alt="beef">
                <div class="image-caption">Beef</div>
                <div class="image-cost">R 499.00</div>
                <button class="wishlist-button" data-product-name="Beef" data-product-price="499.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>
            <div class="separator"></div>
            <div class="image-container">
                <img class="executive_products" src="../static/imgs/meet/pork.webp" alt="pork">
                <div class="image-caption">Pork</div>
                <div class="image-cost">R 577.00</div>
                <button class="wishlist-button" data-product-name="Pork" data-product-price="577.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>
            <div class="separator"></div>
            <div class="image-container">
                <img class="executive_products" src="../static/imgs/meet/venison.jpg" alt="venison">
                <div class="image-caption">Venison</div>
                <div class="image-cost">R 859.00</div>
                <button class="wishlist-button" data-product-name="Venison" data-product-price="859.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>
        </div>
        <div class="horizontal-separator"></div>
        <div class="presentation-topic">
            <div id="food_presentation_topic">D.R.A
                57/40
                PROART IN FOOD</div>
            <img id="food_presentation" src="../static/imgs/fruit/fruits.avif" alt="fruits">
        </div>
        <div class="horizontal-separator"></div>
        <div class="topics">EXCLUSIVE OFFERS</div>
        <div class="horizontal-separator"></div>
        <div class="image-wrapper">
            <div class="image-container">
                <img class="executive_products" src="../static/imgs/vegetables/green.webp" alt="green">
                <div class="image-caption">Green</div>
                <div class="image-cost">R 599.00</div>
                <button class="wishlist-button" data-product-name="Green" data-product-price="599.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>
            <div class="separator"></div>
            <div class="image-container">
                <img class="executive_products" src="../static/imgs/fruit/citrusGinger.webp" alt="Citrus&Ginger">
                <div class="image-caption">Citrus&Ginger</div>
                <div class="image-cost">R 1001.00</div>
                <button class="wishlist-button" data-product-name="Citrus&Ginger" data-product-price="1001.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>
            <div class="separator"></div>
            <div class="image-container">
                <img class="executive_products" src="../static/imgs/meet/seafood.jpg" alt="seafood">
                <div class="image-caption">Seafood</div>
                <div class="image-cost">R 590.00</div>
                <button class="wishlist-button" data-product-name="Seafood" data-product-price="590.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>
        </div>
        <div class="horizontal-separator"></div>
        <div class="topics">FOR CONNOISSEURS</div>
        <div class="horizontal-separator"></div>
        <div class="image-wrapper">
            <div class="image-container">
                <img class="executive_products" src="../static/imgs/fruit/pineapple.webp" alt="pineapple">
                <div class="image-caption">Pineapple</div>
                <div class="image-cost">R 899.00</div>
                <button class="wishlist-button" data-product-name="Pineapple" data-product-price="899.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>
            <div class="separator"></div>
            <div class="image-container">
                <img class="executive_products" src="../static/imgs/berries/strawberries.png" alt="strawberries">
                <div class="image-caption">Strawberries</div>
                <div class="image-cost">R 499.00</div>
                <button class="wishlist-button" data-product-name="Strawberries" data-product-price="499.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>
            <div class="separator"></div>
            <div class="image-container">
                <img class="executive_products" src="../static/imgs/berries/raspberries.png" alt="raspberries">
                <div class="image-caption">Raspberries</div>
                <div class="image-cost">R 459.00</div>
                <button class="wishlist-button" data-product-name="Raspberries" data-product-price="459.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>
        </div>
        <div class="horizontal-separator"></div>
        <div class="topics" id="final_topic">OTHER</div>

        <div class="foot-wrapper">
            <div class="final-image-container">
                <img class="other_products" src="../static/imgs/other/dishes.jpg" alt="dishes">
                <div class="image-caption">Dishes</div>
                <div class="short-horizontal-separator"></div>
            </div>
            <div class="final-image-container">
                <img class="other_products" src="../static/imgs/other/cinnamon.jpeg" alt="cinnamon">
                <div class="image-caption">Cinnamon</div>
                <div class="short-horizontal-separator"></div>
            </div>
            <div class="final-image-container">
                <img class="other_products" src="../static/imgs/other/nuts.jpg" alt="nuts">
                <div class="image-caption">Nuts</div>
                <div class="short-horizontal-separator"></div>
            </div>
            <div class="final-image-container">
                <img class="other_products" src="../static/imgs/fruit/avocado.png" alt="avocado">
                <div class="image-caption">Avocado</div>
                <div class="short-horizontal-separator"></div>
            </div>
        </div>
    </main>
    <div class="chat-button" id="chatButton">AI-assistant</div>
    <div class="chat-popup" id="chatPopup">
        <div class="chat-header">
            <button id="closeChat">×</button>
        </div>
        <div class="chat-content">
            <div class="chat-messages"></div>
        </div>
        <input type="text" id="message-input" placeholder="Your message..."/>
        <button hidden="hidden" id="send-button">Отправить</button>
    </div>
    <footer>
    <div class="top-row">
        <div class="links-container">
            <div class="link-column">
                <a href="/">ABOUT US</a>
                <a href="/">FAQ</a>
                <a href="/">CONTACT US</a>
            </div>
            <div class="link-column">
                <a href="/">PRIVACY POLICY</a>
                <a href="/">DELIVERY POLICY</a>
                <a href="/">TERMS OF US</a>
            </div>
            <div class="link-column">
                <a href="/">HOW TO ORDER</a>
                <a href="/">TRACK YOUR ORDER</a>
                <a href="/t">RETURN & EXCHANGES</a>
            </div>
        </div>
        <div class="links-container">
            <div class="link-column">
                <a href="/">OUR TEAM</a>
                <a href="/">BLOG</a>
                <a href="/">TESTIMONIALS</a>
            </div>
            <div class="link-column">
                <a href="/">CAREERS</a>
                <a href="/">GIFT CARDS</a>
                <a href="/">AFFILIATE PROGRAM</a>
            </div>
            <div class="link-column">
                <a href="/">SITEMAP</a>
                <a href="/">MEDIA CENTER</a>
                <a href="/">EVENTS</a>
            </div>
        </div>
    </div>
  <div class="logo">FOODHOODCOM</div>
  <div class="bottom-row">
    <div class="copyright">© 2025 VladimirSC - ALL RIGHTS RESERVED</div>
    <div class="social-links">
        <a href="/">EMAIL</a>
        <a href="/">INSTAGRAM</a>
        <a href="/">VK</a>
        <a href="/">TELEGRAM</a>
    </div>
  </div>
</footer>
</body>
</html>
