<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodHood</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>
<body>
    <header>
        <div id="header_shop_name">
            FOODHOODCOM
        </div>
        <div id="header_settings">
            <a href="/">BACK</a>
        </div>
    </header>
    <main>
        <div class="image-background" id="meat_topic"></div>
        <div class="subpage_topics" style="position: relative; z-index: 1; margin-top: -37vh; margin-bottom: -13vh;">MEAT</div>

        <div class="horizontal-separator"></div>
        <p></p>
        <div class="horizontal-separator"></div>

        <div class="image-wrapper">
            <div class="image-container">
                <img class="executive_products" src="../static/imgs/meet/chicken.jpg" alt="Chicken">
                <div class="image-caption">Chicken</div>
                <div class="image-cost">R 299.00</div>
                <button class="wishlist-button" data-product-name="Chicken" data-product-price="299.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>

            <div class="separator"></div>

            <div class="image-container">
                <img class="executive_products" src="../static/imgs/meet/crab.jpg" alt="Crab">
                <div class="image-caption">Crab</div>
                <div class="image-cost">R 7500.00</div>
                <button class="wishlist-button" data-product-name="Crab" data-product-price="7500.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>

            <div class="separator"></div>

            <div class="image-container">
                <img class="executive_products" src="../static/imgs/meet/duck.webp" alt="Duck">
                <div class="image-caption">Duck</div>
                <div class="image-cost">R 799.00</div>
                <button class="wishlist-button" data-product-name="Duck" data-product-price="799.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>
        </div>

        <div class="horizontal-separator"></div>

        <div class="image-wrapper">
            <div class="image-container">
                <img class="executive_products" src="../static/imgs/meet/goose.avif" alt="Goose">
                <div class="image-caption">Goose</div>
                <div class="image-cost">R 2999.00</div>
                <button class="wishlist-button" data-product-name="Goose" data-product-price="2999.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>

            <div class="separator"></div>

            <div class="image-container">
                <img class="executive_products" src="../static/imgs/meet/langoustine.jpg" alt="Langoustine">
                <div class="image-caption">Langoustine</div>
                <div class="image-cost">R 1749.00</div>
                <button class="wishlist-button" data-product-name="Langoustine" data-product-price="1749.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>

            <div class="separator"></div>

            <div class="image-container">
                <img class="executive_products" src="../static/imgs/meet/marbledBeef.jpeg" alt="MarbledBeef">
                <div class="image-caption">MarbledBeef</div>
                <div class="image-cost">R 2499.00</div>
                <button class="wishlist-button" data-product-name="MarbledBeef" data-product-price="2499.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>
        </div>

        <div class="horizontal-separator"></div>

        <div class="image-wrapper">
            <div class="image-container">
                <img class="executive_products" src="../static/imgs/meet/salmon.webp" alt="salmon">
                <div class="image-caption">Salmon</div>
                <div class="image-cost">R 2300.00</div>
                <button class="wishlist-button" data-product-name="Salmon" data-product-price="2300.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>

            <div class="separator"></div>

            <div class="image-container">
                <img class="executive_products" src="../static/imgs/meet/tenderloin.jpg" alt="Tenderloin">
                <div class="image-caption">Tenderloin</div>
                <div class="image-cost">R 3099.00</div>
                <button class="wishlist-button" data-product-name="Tenderloin" data-product-price="3099.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>

            <div class="separator"></div>

            <div class="image-container">
                <img class="executive_products" src="../static/imgs/meet/trout.webp" alt="Trout">
                <div class="image-caption">Trout</div>
                <div class="image-cost">R 1199.00</div>
                <button class="wishlist-button" data-product-name="Trout" data-product-price="1199.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>
        </div>

        <div class="horizontal-separator"></div>

        <div class="image-wrapper">
            <div class="image-container">
                <img class="executive_products" src="../static/imgs/meet/venison.jpg" alt="venison">
                <div class="image-caption">Venison</div>
                <div class="image-cost">R 859.00</div>
                <button class="wishlist-button" data-product-name="Venison" data-product-price="859.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>

            <div class="separator"></div>

            <div class="image-container">
                <img class="executive_products" src="../static/imgs/meet/pork.webp" alt="pork">
                <div class="image-caption">Pork</div>
                <div class="image-cost">R 577.00</div>
                <button class="wishlist-button" data-product-name="Pork" data-product-price="577.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>

            <div class="separator"></div>

            <div class="image-container">
                <img class="executive_products" src="../static/imgs/meet/beef.avif" alt="beef">
                <div class="image-caption">Beef</div>
                <div class="image-cost">R 499.00</div>
                <button class="wishlist-button" data-product-name="Beef" data-product-price="499.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>
        </div>

        <div class="horizontal-separator"></div>

    <div class="chat-button" id="chatButton">AI-assistant</div>
    <div class="chat-popup" id="chatPopup">
        <div class="chat-header">
            <button id="closeChat">×</button>
        </div>
        <div class="chat-content">
            <div class="chat-messages"></div>
        </div>
        <input type="text" id="message-input" placeholder="Your message..."/>
        <button hidden="hidden" id="send-button">Отправить</button>
    </div>
    </main>
</body>
</html>
