<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodHood</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>
<body>
    <header>
        <div id="header_shop_name">
            FOODHOODCOM
        </div>
        <div id="header_settings">
            <a href="javascript:void(0);" onclick="goBack()">BACK</a>
        </div>
    </header>
    <main>
        <div class="image-background" id="other_topic"></div>
        <div class="subpage_topics" style="position: relative; z-index: 1; margin-top: -37vh; margin-bottom: -13vh;">OTHER</div>

        <div class="horizontal-separator"></div>
        <p></p>
        <div class="horizontal-separator"></div>

        <div class="image-wrapper">
            <div class="image-container">
                <img class="executive_products" src="../static/imgs/other/aroma.avif" alt="aroma">
                <div class="image-caption">Aroma</div>
                <div class="image-cost">R 399.00</div>
                <button class="wishlist-button" data-product-name="Aroma" data-product-price="399.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>

            <div class="separator"></div>

            <div class="image-container">
                <img class="executive_products" src="../static/imgs/other/broad.jpg" alt="broad">
                <div class="image-caption">Broad</div>
                <div class="image-cost">R 149.00</div>
                <button class="wishlist-button" data-product-name="Broad" data-product-price="149.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>

            <div class="separator"></div>

            <div class="image-container">
                <img class="executive_products" src="../static/imgs/other/buns.jpg" alt="buns">
                <div class="image-caption">Buns</div>
                <div class="image-cost">R 99.00</div>
                <button class="wishlist-button" data-product-name="Buns" data-product-price="99.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>
        </div>

        <div class="horizontal-separator"></div>

        <div class="image-wrapper">
            <div class="image-container">
                <img class="executive_products" src="../static/imgs/other/voss.jpg" alt="voss">
                <div class="image-caption">Voss</div>
                <div class="image-cost">R 259.00</div>
                <button class="wishlist-button" data-product-name="Voss" data-product-price="259.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>

            <div class="separator"></div>

            <div class="image-container">
                <img class="executive_products" src="../static/imgs/other/baikal.jpg" alt="baikal">
                <div class="image-caption">Baikal</div>
                <div class="image-cost">R 159.00</div>
                <button class="wishlist-button" data-product-name="Baikal" data-product-price="159.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>

            <div class="separator"></div>

            <div class="image-container">
                <img class="executive_products" src="../static/imgs/other/eggs.jpg" alt="eggs">
                <div class="image-caption">Eggs</div>
                <div class="image-cost">R 199.00</div>
                <button class="wishlist-button" data-product-name="Eggs" data-product-price="199.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>
        </div>

        <div class="horizontal-separator"></div>

        <div class="image-wrapper">
            <div class="image-container">
                <img class="executive_products" src="../static/imgs/other/cigarettes.jpg" alt="cigarettes">
                <div class="image-caption">Cigarettes</div>
                <div class="image-cost">R 249.00</div>
                <button class="wishlist-button" data-product-name="Cigarettes" data-product-price="249.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>

            <div class="separator"></div>

            <div class="image-container">
                <img class="executive_products" src="../static/imgs/other/oliveOil.jpg" alt="oliveOil">
                <div class="image-caption">OliveOil</div>
                <div class="image-cost">R 199.00</div>
                <button class="wishlist-button" data-product-name="OliveOil" data-product-price="199.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>

            <div class="separator"></div>

            <div class="image-container">
                <img class="executive_products" src="../static/imgs/other/butter.jpg" alt="butter">
                <div class="image-caption">Butter</div>
                <div class="image-cost">R 199.00</div>
                <button class="wishlist-button" data-product-name="Butter" data-product-price="199.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>
        </div>

        <div class="horizontal-separator"></div>

        <div class="image-wrapper">
            <div class="image-container">
                <img class="executive_products" src="../static/imgs/other/cinnamon.jpeg" alt="cinnamon">
                <div class="image-caption">Cinnamon</div>
                <div class="image-cost">R 249.00</div>
                <button class="wishlist-button" data-product-name="Cinnamon" data-product-price="249.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>

            <div class="separator"></div>

            <div class="image-container">
                <img class="executive_products" src="../static/imgs/other/dishes.jpg" alt="dishes">
                <div class="image-caption">Dishes</div>
                <div class="image-cost">R 2599.00</div>
                <button class="wishlist-button" data-product-name="Dishes" data-product-price="2599.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>

            <div class="separator"></div>

            <div class="image-container">
                <img class="executive_products" src="../static/imgs/other/nuts.jpg" alt="nuts">
                <div class="image-caption">Nuts</div>
                <div class="image-cost">R 799.00</div>
                <button class="wishlist-button" data-product-name="Nuts" data-product-price="799.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>
        </div>

        <div class="horizontal-separator"></div>
    </main>

</body>
</html>
