<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodHood</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>
<body>
    <header>
        <div id="header_shop_name">
            FOODHOODCOM
        </div>
        <div id="header_settings">
            <a href="javascript:void(0);" onclick="goBack()">BACK</a>
        </div>
    </header>
    <main>
        <div class="image-background" id="vegetables_topic"></div>
            <div class="subpage_topics" style="position: relative; z-index: 1; margin-top: -37vh; margin-bottom: -13vh;">VEGETABLES</div>

        <div class="horizontal-separator"></div>
        <p></p>
        <div class="horizontal-separator"></div>

        <div class="image-wrapper">
            <div class="image-container">
                <img class="executive_products" src="../static/imgs/vegetables/beet.webp" alt="beet">
                <div class="image-caption">Beet</div>
                <div class="image-cost">R 79.00</div>
                <button class="wishlist-button" data-product-name="Beet" data-product-price="79.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>

            <div class="separator"></div>

            <div class="image-container">
                <img class="executive_products" src="../static/imgs/vegetables/cucumber.jpeg" alt="cucumber">
                <div class="image-caption">Cucumber</div>
                <div class="image-cost">R 87.00</div>
                <button class="wishlist-button" data-product-name="Cucumber" data-product-price="87.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>

            <div class="separator"></div>

            <div class="image-container">
                <img class="executive_products" src="../static/imgs/vegetables/eggplant.jpg" alt="eggplant">
                <div class="image-caption">Eggplant</div>
                <div class="image-cost">R 109.00</div>
                <button class="wishlist-button" data-product-name="Eggplant" data-product-price="109.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>
        </div>

        <div class="horizontal-separator"></div>

        <div class="image-wrapper">
            <div class="image-container">
                <img class="executive_products" src="../static/imgs/vegetables/tomatoes.jpg" alt="tomatoes">
                <div class="image-caption">Tomatoes</div>
                <div class="image-cost">R 77.00</div>
                <button class="wishlist-button" data-product-name="Tomatoes" data-product-price="77.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>

            <div class="separator"></div>

            <div class="image-container">
                <img class="executive_products" src="../static/imgs/vegetables/vegSalat.jpg" alt="VegSalat">
                <div class="image-caption">VegSalat</div>
                <div class="image-cost">R 699.00</div>
                <button class="wishlist-button" data-product-name="VagSalat" data-product-price="699.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>

            <div class="separator"></div>

            <div class="image-container">
                <img class="executive_products" src="../static/imgs/vegetables/vegSnack.webp" alt="VegSnack">
                <div class="image-caption">VegSnack</div>
                <div class="image-cost">R 249.00</div>
                <button class="wishlist-button" data-product-name="VagSnack" data-product-price="249.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>
        </div>

        <div class="horizontal-separator"></div>

        <div class="image-wrapper">
            <div class="image-container">
                <img class="executive_products" src="../static/imgs/vegetables/asparagus.jpg" alt="Asparagus">
                <div class="image-caption">Asparagus</div>
                <div class="image-cost">R 173.00</div>
                <button class="wishlist-button" data-product-name="Asparagus" data-product-price="173.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>

            <div class="separator"></div>

            <div class="image-container">
                <img class="executive_products" src="../static/imgs/vegetables/carrot.jpg" alt="carrot">
                <div class="image-caption">Carrot</div>
                <div class="image-cost">R 899.00</div>
                <button class="wishlist-button" data-product-name="Carrot" data-product-price="899.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>

            <div class="separator"></div>

            <div class="image-container">
                <img class="executive_products" src="../static/imgs/vegetables/corn.webp" alt="Corn">
                <div class="image-caption">Corn</div>
                <div class="image-cost">R 209.00</div>
                <button class="wishlist-button" data-product-name="Corn" data-product-price="209.00">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path class="heart" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </button>
            </div>
        </div>

        <div class="horizontal-separator"></div>
    </main>
</body>
</html>
